

.container {
    background-color: rgb(129, 129, 129);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 2vw auto 0px auto;
    padding: 0.4vw;
    border-radius: 0.6vw;
}

.container > p {
    font-size: 4.5vw;
    padding: 0.9vw;
    color: white;
}

#about {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(129, 129, 129);
}

.home > img {
    background-color: rgb(129, 129, 129);
    position: inherit;
    max-width: 5.5vw;
    padding: 0.7vw;
}

.settings-link > img {
    background-color: rgb(129, 129, 129);
    position: inherit;
    max-width: 5.5vw;
    padding: 0.7vw;
}

.search {
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
    display: none;
    opacity: 0;
    height: 0px;
    transition: all 0.35s linear;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(129, 129, 129);
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
}

.search-button {
    width: 6.5vw;
    text-align: justify;
    margin: 0.3vw auto;
    font-size: 1.7vw;
    padding: 0.01vw;
}

.text-input {
    width: 40vw;
    font-size: 1.7vw;
    padding: 0.3vw;
    text-align: center;
    margin: 0 auto;
}








.hidden {
    opacity: 0;
    display: none;
}

@media screen and (min-width: 1000px) {

    .container > p {
        font-size: 4vw;
    }
}