@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: black;
    background-image: url("../src/img/gradient.jpeg");
    background-size: 100% 100%;
}

.container {
    background-color: rgb(129, 129, 129);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 2vw auto 0px auto;
    padding: 0.4vw;
    border-radius: 0.6vw;
}

.settings-link > img {
    background-color: rgb(129, 129, 129);
    position: inherit;
    max-width: 5.5vw;
    padding: 0.7vw;
}

.home > img {
    background-color: rgb(129, 129, 129);
    position: inherit;
    max-width: 5.5vw;
    padding: 0.7vw;
}

.container > p {
    font-size: 4.5vw;
    padding: 0.9vw;
    color: white;
}


.setting {
    color: black;
    font-size: 2.5vw;
    text-align: center;
    background-color: rgb(158, 158, 196);
}

.setting > p {
    display: inline-block;
    font-size: 2.2vw;
}

.setting > h3 {
    display: inline-block;
    padding: 0px 5px;
}

#leaderboard {
    margin-top: 5px;
    margin: 0 auto;
    width: 60%;
    padding: 10px 10px;
    background-color: rgb(163, 240, 175);
    text-align: left;
    font-size: 2.3vw;
    border-radius: 0px 0px 10px 10px;
    color: black;
}

.api_data {
    font-size: 0px;
}

.nav {
    position: fixed;
    top: 0.2vw;
    left: 1%;
    width: 100%;
}

#about {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    background-color: rgb(129, 129, 129);
}

.search {
    width: 50%;
    margin: 0 auto;
    padding: 10px 10px;
    display: none;
    opacity: 0;
    height: 0px;
    transition: all 0.35s linear;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(129, 129, 129);
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
}

.nav:hover form {
    display: relative;
    opacity: 1 ;
    height: auto;
}

.nav:hover div div {
    border-radius: 0;
}

#settings-successfull {
    color: white;
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 0.7vw;
    padding: 1vw;
    width: 20vw;
    margin: 0px auto;
    margin-top: 2vw;
}

#settings-successfull:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    display: none;
}

#settings {
    background-color: rgb(158, 158, 196);
    margin: 0 auto;
    width: 60%;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 14%;
}

.text-input {
    width: 40vw;
    font-size: 1.7vw;
    padding: 0.3vw;
    text-align: center;
    margin: 0 auto;
}

.search-button {
    width: 6.5vw;
    text-align: justify;
    margin: 0.3vw auto;
    font-size: 1.7vw;
    padding: 0.01vw;
}

.rounded {
    border-radius: 0 0 1vw 1vw;
}

.rank {
    margin-bottom: 2vw;
}

.brmes {
    background-color: rgb(255, 93, 93);
    font-size: 3vw;
    border: 2px solid black;
    border-radius: 3vw;
    width: 85vw;
    margin: 0 auto;
    margin-top: 2vw;
}

.brmes > h1{
    padding: 0.5vw;
    font-size: 3vw;
    text-align: center;
    font-weight: 500;
}

.brmes > div > h2 {
    padding: 0.5vw;
    font-size: 2vw;
    padding-left: 0.5vw;
    font-weight: 400;
    padding-bottom: 1vw;
}

.brmes > div > p {
    padding: 0.5vw;
    font-size: 2vw;
    padding-left: 0.5vw;
    display: inline-block;
    font-weight: 400;
}

.brmes > p {
    padding: 0.5vw;
    font-size: 2vw;
    padding-left: 0.5vw;
    padding-bottom: 0.5vw;
}

.brmes:hover {
    cursor: pointer;
}

.brmes > h1 > a {
    text-decoration: none;
    color: black;
}

.brmes > h1 > a:hover {
    cursor: grab;
}

.shown {
    opacity: 1;
    display: relative;
    height: auto;
}

.hidden {
    opacity: 0;
    height: 0;
    display: none;
}


@media screen and (min-width: 1000px) {
    .rank {
       font-size: 1.9vw;
    }

    .setting {
        font-size: 1.9vw;
    }

    .container > p {
        font-size: 4vw;
    }
}

