@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: black;
    background-image: url("../src/img/gradient.jpeg");
    background-size: 100% 100%;
}

.setting {
    color: black;
    font-size: 2.5vw;
    text-align: center;
    background-color: rgb(158, 158, 196);
}

.setting > p {
    display: inline-block;
    font-size: 2.2vw;
}

.setting > h3 {
    display: inline-block;
    padding: 0px 5px;
}

#leaderboard {
    margin-top: 5px;
    margin: 0 auto;
    width: 60%;
    padding: 10px 10px;
    background-color: rgb(163, 240, 175);
    text-align: left;
    font-size: 2.3vw;
    border-radius: 0px 0px 10px 10px;
    color: black;
}

.api_data {
    font-size: 0px;
}

.nav {
    position: fixed;
    top: 0.2vw;
    left: 1%;
    width: 100%;
}

.Maillink {
    text-decoration: none;
    color: black;
}

.nav:hover form {
    display: relative;
    opacity: 1 ;
    height: auto;
}

.nav:hover div div {
    border-radius: 0;
}

.hidden {
    opacity: 0;
    display: none;
}

#settings {
    background-color: rgb(158, 158, 196);
    margin: 0 auto;
    width: 60%;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
    margin-top: 14%;
}

.rank {
    margin-bottom: 2vw;
}

.shown {
    opacity: 1;
    display: relative;
    height: auto;
}

.hidden {
    opacity: 0;
    height: 0;
    display: none;
}


@media screen and (min-width: 1000px) {
    .rank {
       font-size: 1.9vw;
    }

    .setting {
        font-size: 1.9vw;
    }

    .container > p {
        font-size: 4vw;
    }
}

