@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    background-color: rgb(129, 129, 129);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.settings-link {
    background-color: rgb(129, 129, 129);
}

.home {
    background-color: rgb(129, 129, 129);
}

img {
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    max-width: 50px;
}

.container > p {
    font-size: 40px;
    padding: 10px;
    color: white;
}

.setting {
    color: black;
    font-size: 23px;
    text-align: center;
    background-color: rgb(158, 158, 196);
}

.setting > p {
    display: inline-block
}

.setting > h3 {
    display: inline-block;
    padding: 0px 5px;
}

#leaderboard {
    margin-top: 10px;
}

.rank {
    color: black;
    font-size: 23px;
    text-align: center;
    background-color: rgb(163, 240, 175);
}

.rank > p {
    display: inline-block;
}

.rank > h3 {
    display: inline-block;
    padding: 0px 5px;
}